# Cross-Society Python Course - Week 2

**In week 1, we covered:**
1. Built-in Functions
2. Variables
3. Debugging
4. Datatypes

**This week, we will cover:**
1. String Indexing, slicing, and appending
2. String formatting
3. Logical operators
4. Conditional operators (if, else)

## Indexing, slicing

### Indexing

We have seen that strings are chain or sequence of characters, hence they have an **order** and we can **extract** characters from a string using **indexing**.<br><br> To extract a character we use the following syntax : *my_string_name[n]* where **n** is the **position** of the character in the **string**

In most coding languages, indexing starts at 0. This means that to get the first character of the string, you need to type <code>mystring[0]</code>. There is also **negative indexing**, which allows you to grab characters starting from the end. So if <code>mystring = "Bob"</code> then <code>mystring[-1]</code> will grab `b`

In [ ]:
my_string = "Warwick"


print(my_string[0]) # 1. Extract the first character


print(my_string[2]) # 2. Extract the 3d character


print(my_string[-1]) # 3. Extract the last character


print(my_string[-2]) # 4. Extract the second last character

<b>Note:</b> Don't forget that indexing starts at 0 !

You will get an error if you try to index outside the string, here my_string has 7 characters, hence my_string[6] gets the last character. <br><br> Try to run the following code:

In [ ]:
my_string = "Warwick"

my_string[7]

A useful function to determine the length of a string is the **len()** function

In [ ]:
# What is the length of my_string ?

len(my_string)

In [ ]:
# Note that spaces count as characters characters

full_name = "Code Soc"

print(full_name[3]) # this will print the space " "

full_name_compact = "CodeSoc"

# Checkout the result of this:

print(len(full_name))
print(len(full_name_compact))

### Slicing

We can also **slice** strings, that is to take a "block" of the string. The syntax is `my_string[start:stop]` where `start` is the index of the first character you want to grab and `stop` is the index of the first character **we do not grab**.

In [ ]:
my_string = "Warwick"

# If you don't include any start or stop, by default start=0 and stop=len(my_string)

my_string[:]

In [ ]:
# To grab the first 3 characters

my_string[0:3]

# To grab the last 3 characters

my_string[-3:]

> **Task** <br> A small exercise before starting the next section! Get the first 3 and last 2 letters of a string.

In [ ]:
my_string = "university"

#Type your code below here

## Immutability of strings

One important property of string is **immutability**. This means you cannot modify strings

In [ ]:
# Run this cells

full_name = "Leo Messi"

# Let's try to change the first character to a "M"

full_name[0] = "M"

You can however overwrite `full_name` to `"Meo Messi"` as we have seen in lesson 1!

In [ ]:
# No error here

full_name = "Meo Messi"

> **Task**<br>
Take the first 4 letters, the 7th, 10th, and 12th letters <br>
Then every 2 letters from the 13th letter onwards<br>
Store the new word into the variable `new_string`

In [ ]:
my_string = "supercalifragilisticexpialidocious"
#Type your code below

# String Formatting

**String formatting** is the process of infusing things in the string dynamically and presenting the string. In this lesson we will see 3 ways of doing that, *(there is a fourth way we will see later in this course)*

## 1. Formatting with placeholders (old way)

This string formatting method is not really used now but it is important you understand how it works if you encounter it in someone's code. <br> This method uses `%s` to inject strings into your print statments. In that context, `%` is called the **string-formatting operator**

In [ ]:
# Example

print("I am going to insert %s in the middle of the string" % "something")

# You can also insert multiple strings

print("My first name is %s and my last name is %s" % ("Lewis", "Hamilton"))

# And obviously, you can pass variables as well

age = "boomer"
type = "sock"

print("I am a %s and I am a %s" % (age, type))

In [ ]:
# Numbers (int and float) will be automatically converted to strings after being printed or returned

print(("I am %s years old and I cost Â£%s") % (20, 0.25))

We have seen `%s`, which injects a string, but we can also insert integers with `%d`, floats with `%f`

In [ ]:
# Example

print("I am %d years old" % 20)

# %d will convert the float in int

print("Undergraduates represent %d of Warwicks' students" % 0.75)

# Using %f

print("Undergraduates represent %f of Warwicks' students" % 0.75)

In [ ]:
# We can actually control the rounding precision

print("I am going to round 0.754: %4.2f" % 0.754)

# The first integer 4 specifies the minimum number of characters (. is a character) to be present in the string. 
# The second integer 2 specifies how many digits we display after the floating point.

>**Task**<br>
Take the string "John Smith", split it up into first name and last name using slicing and store them into the variables `first_name` and `last_name` e.g,<br><br> `first_name = name[first 4 letters]` <br> `last_name = name[last 5 letters]`<br><br>Then print out the sentence below using placeholders <br>My firstname is `first_name`, my lastname is `last_name`.<br>

In [ ]:
name = "John Smith"

#Type your code below

## 2. The .format() method

The `.format()` method was introduced in Python 3. It gets rid of the % operator and is much more powerful

In [ ]:
# Example

print("I am going to insert {} using {}".format(
  "a string", "the .format() method"))

# Inserted objects can be called by index position:

print("I am {2} years old, you can call me Mr.{0}, or by my first name, {1}".format(
  "Smith", "Adam", 16))

# Inserted objects can be assigned keywords

print("I am {age} years old, you can call me Mr.{last_name}, or by my first name, {first_name}".format(
  last_name="Smith", first_name="Adam", age=16))

# Inserted object can be called by their variable name previously defined in the code

last_name = "Smith"
first_name = "Adam"
age = 16

print("I am {} years old, you can call me Mr.{}, or by my first name, {}".format(
    age, last_name, first_name))

# Inserted objects can be reused, avoiding duplication:

print("We all thought he was from DCS {d}, but he is actually from WBS {d}".format(
    d="department"))

>**Task**<br>
Print the following phrase replacing `1`,`2`,`3` with variables in the brackets using the **.format** method (university, degree, name). <br><br>
My name is `3`. I study `2` at `1`.

In [ ]:
#Type your code here

## The f-string method

This method is the most **concise**, **simple** and **readible** way of formatting strings. The syntax is simply `f"This is a string where I insert something {var_name}"`

In [ ]:
society = "CodeSoc"

print(f"I am joining {society}")

# You can also have multiple variables

society2 = "WAI"
society3 = "UWCS"

print(f"I should also join {society2} and {society3}")

# Obviously, you can include numbers as well

number = 0

print(f"I have {number} bitches")

Float formatting can be done with the following syntax `{value:{width}.{precision}}`

In [ ]:
num = 4.57683

print(f"rounded number: {num:{5}.{4}}")

# Comparison operators and conditions

## Logical operators

**Introducing a new data type : booleans**

Booleans represent one of two values: **True** or **False**.<br>

In programming you often need to know if an **expression** is True or False.
You can evaluate any expression in Python, and get one of two answers, True or False.

In [ ]:
# Is 5 greater than 2?
5 > 2

# Is 2 greater than 5?
2 > 5

We can also assign variables to be `True` or `False`

In [ ]:
a = True

print(a)

You can evaluate values using the `bool()` function.

In [ ]:
a = 15

bool(a)

All values return True except the following:
- for integers: 0
- for strings: ""
- the value None and False

>**Task**<br>
Evaluate 0, "", None, and False and check they indeed return False

In [32]:
# Write your code here

## Python operators

#### 1) Comparison operators

`==`	Equal <br>
`!=`	Not equal <br>
`>`	Greater than <br>
`<`	Less than <br>
`>=`	Greater than or equal to <br>
`<=`	Less than or equal to <br>

These comparison operators are used in logical statements and these statements will return a boolean:<br> **True** if the statement is true and **False** otherwise

In [ ]:
# Equal Examples

3 == 2

"a" == "A"

"CodeSoc" == "UWCS"

<b>Note:</b> Don't forget the second equal sign when testing equality. <br>`=` is used to assign a value to a variable, while `==` is a comparison operator!

In [ ]:
# Not Equal examples

3 != 2

"a" != "A"

"CodeSoc" != "CodeSoc"

In [ ]:
# Comparison examples

# Is 3 strictly greater than 4 ? 

3 > 4

# Is a less than or equal 100

a = 462 / 5

a <= 100

#### 2) Logical operators

The 3 logical operators we can use to create more complex statements : **and**, **or**, and **not** <br>
- *statement 1 **and** statement 2* will be `True` if **both** *statement 1* and *statement 2* are `True`.
- *statement 1 **or** statement 2* will be `True` if **at least one** of the two statements is `True`.
- **not** statement* will return `True` if *statement* is False and False if *statement* is `True`.<br><br>
Else these are `False`

In [ ]:
# Here 2 == 3 is False so the whole statement is False

3 == 3 and 2 == 3

# Here all statements are True so the whole statement is True

a = 2
b = 2

# I put parenthesis so the statement is clearer. You can remove those if you prefer

(a == b) and ("A" == "A") and (True != False)

# Here the first statement is false but the second is True so the whole statement is True

(5 % 2 == 0) or (8-5 == 3)

**Note:** In the last example we combined 3 statements. There are no limits on how many statements you can evaluate together.

>**Task**

In [ ]:
#What will be the output?

("Warwick" != "Warwick") or ("Warwick" == "warwick") or (5 > 18)

We can also use the built-in python function `not()` which just means the opposite of whatever is in the parentheses

In [ ]:
# 3 is not equal to 4 so the output will be not(False), that is True !

not(3 == 4)

# We can take previous examples and see it returns the opposite 

not((a == b) and ("A" == "A") and (True != False))

# You can also combine and, or, and not statements 

((5 < 6) or not(2 != 3)) and (10-2 == 8)

<b>Note:</b> Try to decompose the logical statements into smaller pieces if you don't understand a logical statement and use bool() to check if they are True or False.

>**Task**<br>
Given 3 numbers stored in the variables `a`, `b` and `c`, find out if any of them are equal.<br>
<br>*Hint: You need to use the comprarison operator `==` and the logical operator `or`*

In [ ]:
a,b,c= 10,12,10

#Type your code here